# aliases
# xbps quality of life 
alias xi="brew install"
alias xr="brew uninstall"
alias xdu="brew update"
alias xdup="brew update && brew upgrade"
alias xq="brew search"

# normal aliases
alias vim=nvim
alias v='nvim .'
alias t='tmux'
alias notes="cd $HOME/notes && nvim ."

# kubernetes aliases
alias k='kubectl'
alias kg='kubectl get'
alias ka='kubectl apply -f'
alias kd='kubectl delete -f'
alias kak='kubectl apply -k'
alias kex='kubectl exec -i -t'
alias klon='kubectl logs -f'
alias drl="docker login"
alias tf=terraform
alias tg=terragrunt

# dotfiles command
alias cdd='cd $HOME/git/dotfiles'
alias dots='ansible-playbook $HOME/git/dotfiles/main.yml'

# everyday quick editing and sourcing
alias sb="source $HOME/.bashrc && echo $HOME/.bashrc sourced"
alias sz="source $HOME/.zshrc && echo $HOME/.zshrc sourced"
alias sa="source $HOME/.aliases && echo $HOME/.aliases sourced"
alias szp="source $HOME/.zprofile && echo $HOME/.zprofile sourced"
alias sf="source $HOME/.config/fish/conf.d/user.fish && echo $HOME/.config/fish/conf.d/user.fish sourced"
alias ee="$EDITOR $HOME/.env"
alias ef="$EDITOR $HOME/.config/fish/conf.d/user.fish"
alias eb="$EDITOR $HOME/.bashrc"
alias ev="cd $HOME/.config/nvim && $EDITOR init.lua"
alias ed="cd $HOME/git/dotfiles && $EDITOR ."
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'

