# aliases
# xbps quality of life 
alias xi="brew install"
alias xr="brew uninstall"
alias xdu="brew update"
alias xdup="brew update && brew upgrade"
alias xq="brew search"

# normal aliases
alias vim=nvim
alias v='nvim .'
alias t='tmux'
alias notes="cd $HOME/notes && nvim ."
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'
alias l='lazygit'
alias lg='lazygit'
alias r='ranger'
alias tf=terraform
alias tg=terragrunt
alias packages='$HOME/scripts/packages'

# dotfiles command
alias cdd='cd $HOME/git/dotfiles'
alias dots='ansible-playbook $HOME/git/dotfiles/main.yml'

# everyday quick sourcing
alias sb="source $HOME/.bashrc && echo $HOME/.bashrc sourced"
alias sz="source $HOME/.zshrc && echo $HOME/.zshrc sourced"
alias sa="source $HOME/.aliases && echo $HOME/.aliases sourced"
alias szp="source $HOME/.zprofile && echo $HOME/.zprofile sourced"
alias sf="source $HOME/.config/fish/conf.d/user.fish && echo $HOME/.config/fish/conf.d/user.fish sourced"

# quick editing
alias ee="$EDITOR $HOME/.env"
alias ef="$EDITOR $HOME/.config/fish/conf.d/user.fish"
alias eb="$EDITOR $HOME/.bashrc"
alias ea="$EDITOR ~/.aliases"
alias ev="cd $HOME/.config/nvim && $EDITOR init.lua"
alias ed="cd $HOME/git/dotfiles && $EDITOR ."
alias eh="cd $HOME/.config/helix/ && hx ."
