# aliases
# xbps quality of life 
alias xi="sudo xbps-install -S"
alias xr="sudo xbps-remove"
alias xq="xbps-query -Rs"

# normal aliases
alias ls='ls --color=auto'
alias setmon=/home/coal/.local/bin/set-monitor.sh
alias vim=nvim
alias ranger=$HOME/apps/ranger/ranger.py
alias k=kubectl

# dotfiles command
alias config='/usr/bin/git --git-dir=$HOME/git/.dotfiles --work-tree=$HOME'

# everyday quick editing and sourcing
alias hy=/home/coal/.local/bin/hyprland-wrapper.sh
alias sb="source $HOME/.bashrc && echo $HOME/.bashrc sourced"
alias sf="source $HOME/.config/fish/config.fish && echo $HOME/.config/fish/config.fish sourced"
alias ee="$EDITOR $HOME/.env"
alias ef="$EDITOR $HOME/.config/fish/conf.d/user.fish"
alias eb="$EDITOR $HOME/.bashrc"
alias ed="$EDITOR $HOME/apps/dwm/config.h"
alias edb="$EDITOR $HOME/apps/dwm/dwmblocks/blocks.h"
alias sd="cd ~/apps/dwm/ && make && sudo make install && cd -"
alias sdb="cd ~/apps/dwm/dwmblocks && make && sudo make install && cd -"

alias patches="grep \"#define .* 1\" ~/apps/dwm/patches.h"

alias rm="trash-put"

