desktop/
Desktop/
documents/
downloads/
logs/
movies/
notes/
onedrive/
pictures/
Slippi/
Sync/
Videos/
.var/app/
.rustup/
.cache/
.cargo/
nodes to move/
applications/
.local/
git/
.vscode-oss/
.steam/
.npm/
.nv/
.mozilla/
.kube/
.helm/
.dotfiles/
.config/libreoffice/
.config/google-chrome/
.config/chromium/
.config/balena-etcher/
.config/Slippi*/
.ansible/
.config/Code - OSS/
.cinnamon/
.config/PrusaSlicer/
.audacity-data/
.config/syncthing/
.config/obsidian/
