Xft.dpi: 180
URxvt*background:                     #151718
URxvt*foreground:                     #d6d6d6
URxvt*cursorColor:                    #d6d6d6

! URxvt*colorBD:                        color
! URxvt*colorIT:                        color
! URxvt*colorUL:                        color
! URxvt*colorRV:                        color
! URxvt*underlineColor:                 color
URxvt*scrollColor:                    #d6d6d6
! URxvt*troughColor:                    color
URxvt*highlightColor:                 #3B758C
URxvt*highlightTextColor:             #43a5d5
! URxvt*cursorColor2:                   color
! URxvt*pointerColor:                   color
! URxvt*pointerColor2:                  color
! URxvt*borderColor:                    color
! URxvt*tab-bg:                         colour
! URxvt*tab-fg:                         colour
! URxvt*tabbar-bg:                      colour
! URxvt*tabbar-fg:                      colour

URxvt*color0:                         #151718
URxvt*color1:                         #Cd3f45
URxvt*color2:                         #9fca56
URxvt*color3:                         #e6cd69
URxvt*color4:                         #55b5db
URxvt*color5:                         #a074c4
URxvt*color6:                         #55dbbe
URxvt*color7:                         #d6d6d6
URxvt*color8:                         #41535B
URxvt*color9:                         #Cd3f45
URxvt*color10:                        #9fca56
URxvt*color11:                        #e6cd69
URxvt*color12:                        #55b5db
URxvt*color13:                        #a074c4
URxvt*color14:                        #55dbbe
URxvt*color15:                        #ffffff

! 256 color space
URxvt*color16:                        #db7b55
URxvt*color17:                        #8a553f
URxvt*color18:                        #8ec43d
URxvt*color19:                        #3B758C
URxvt*color20:                        #43a5d5
URxvt*color21:                        #eeeeee

Xcursor.size: 16W
URxvt.urgentOnBell: true
URxvt.scrollBar: false
URxvt.font: xft:Ubuntu Mono:size=11
URxvt.depth: 24
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.perl-ext-common: default,matcher,vtwheel



! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false

! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

