---
- name: Neovim | Ensure directory exists
  file:
    path: "{{ ansible_user_dir }}/.config/nvim/"
    state: directory
    mode: "0755"

- name: "Neovim | Configure"
  ansible.builtin.file:
    src: "{{ role_path }}/files/nvim"
    dest: "{{ ansible_user_dir }}/.config/nvim"
    state: link
    force: true
